{% extends 'bootstrap/base.html' %}

{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">Main</a>
            <a class="navbar-brand" href="{{ url_for('authors') }}">Authors</a>
            <a class="navbar-brand" href="{{ url_for('addauthor') }}">Add author</a>
            <a class="navbar-brand" href="{{ url_for('addbook') }}">Add book</a>
        </div>    
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}